## Lab: Pandas In Action

##### Project overview here :)
* Below will be a series of questions, followed by an empty Python and Markdown block.
    * Use the Python code block to write your answers to each question.
        * Once completed, select the play button to the left of the code block to execute your solution.
        * The output will display below the code block.  Be sure to test and debug as you go to ensure you get the desired output for each question!
    * Use the markdown block below each question to describe your solution steps and/or problem solving process
        * Use `monospace font` for any variable or function names <br>
        * Use **bold** or *italicized* text to add emphasis to a word or phrase <br>
        * You can also annotate your code within the Python blocks, using comments!
<br>

## Imports
* Use the correct statement to import the Pandas library into your current file

In [2]:
# Set up your imports
import pandas as pd

## Series From Lists
* Using the following List, create a new Pandas Series, and save it as the variable `list_series`
    * Then, print this Series to the terminal

In [3]:
# Create a series from a LIST
my_list = ["apple", "banana","cantalope","durian"]
list_series = pd.Series(my_list)
print(list_series)

0        apple
1       banana
2    cantalope
3       durian
dtype: object

* Print the value at index 1 of `list_series` to the terminal

In [4]:
print(list_series[1])

banana

* Using the **SAME** variable `my_list`, create a **new** Pandas Series
    * Create specific labels for this series, corresponding to the **first letter** of each value
    * Example: "A" --> "apple", "B" --> "banana"
    * Save this series as the variable `index_series`
    * Then, print the value at index "C" of `index_series` to the terminal

In [5]:
# Add index labels for your series
index_series = pd.Series(my_list, index=['A','B','C','D'])
print(index_series["C"])

cantalope

### Series From Dictionary
* Using the following Dictionary, create a new Pandas Series, and save it as the variable `dictionary_series`
    * Then, print the value at index "Tuesday" to the terminal

In [6]:
# Create a series from a DICTIONARY
my_dictionary = {
    "Monday": "8 hours",
    "Tuesday": "4 hours",
    "Wednesday": "6 hours"
}
dictionary_series = pd.Series(my_dictionary)
print(dictionary_series["Tuesday"])

4 hours

## DataFrames
* Using the following Dictionary, create a new Pandas DataFrame, and save it as the variable `my_dataframe`
    * Print this new DataFrame to the terminal

In [7]:
# Create a DataFrame from a Dictionary
course_dictionary = {
    'course':["Pandas 101","Underwater Basket Weaving","Tree Climbing","Cryptozoology"],
    'credits':[5, 8, 6, 8]
}
my_dataframe = pd.DataFrame(course_dictionary)
print(my_dataframe)

                      course  credits
0                 Pandas 101        5
1  Underwater Basket Weaving        8
2              Tree Climbing        6
3              Cryptozoology        8

* Locate the row at index 2, and print it to the terminal

In [8]:
# Access a specific row using .loc with index number
print(my_dataframe.loc[2])

course     Tree Climbing
credits                6
Name: 2, dtype: object

* Locate the rows at index 0 and 3, and print both to the terminal

In [9]:
print(my_dataframe.loc[[0,3]])

          course  credits
0     Pandas 101        5
3  Cryptozoology        8

* Using the following Dictionary, create a new Pandas DataFrame
    * Use the `named_indexes` variable as the *named indexes* of the DataFrame
    * Save this DataFrame as the variable `named_dataframe`
    * Then, print the DataFrame to the terminal

In [10]:
# Create a DataFrame with named indexes
order_dictionary = {
    'color': ["red","blue","green","purple"],
    'quantity': [2,1,2,3],
    'total cost': [20,10,20,30]
}

named_indexes = ["order1","order2","order3","order4"]

named_dataframe = pd.DataFrame(order_dictionary, index=named_indexes)

print(named_dataframe)

         color  quantity  total cost
order1     red         2          20
order2    blue         1          10
order3   green         2          20
order4  purple         3          30

* Locate the row at the index `order4`, and print it to the terminal

In [11]:
# Access a specific row using .loc with named index
print(named_dataframe.loc["order4"])

color         purple
quantity           3
total cost        30
Name: order4, dtype: object

## Analyzing DataFrames
##### Use your `named_dataframe` variable for the following questions
* Print the **first three rows** of the DataFrame to the terminal

In [12]:
named_dataframe.head(3)

        color  quantity  total cost
order1    red         2          20
order2   blue         1          10
order3  green         2          20

* Print the **last row** of the DataFrame to the terminal

In [13]:
named_dataframe.tail(2)

         color  quantity  total cost
order3   green         2          20
order4  purple         3          30

* Use the appropriate function to display the **data type** of each column in our DataFrame

In [14]:
named_dataframe.dtypes

color         object
quantity       int64
total cost     int64
dtype: object

### DataFrames from .csv Files
* Use Pandas to import the file `pandas_in_action.csv` into a DataFrame
* Name this variable `csv_dataframe`

* Export your