## Lab: Pandas In Action

##### Project overview here :)
* Below will be a series of questions, followed by an empty Python and Markdown block.
    * Use the Python code block to write your answers to each question.
        * Once completed, select the play button to the left of the code block to execute your solution.
        * The output will display below the code block.  Be sure to test and debug as you go to ensure you get the desired output for each question!
<br>

## Imports
* Use the correct statement to import the Pandas library into your current file

In [62]:
# Set up your imports
import pandas as pd

## Series From Lists
* Using the following List, create a new Pandas Series, and save it as the variable `list_series`
    * Then, print this Series to the terminal

In [63]:
# Create a series from a LIST
my_list = ["apple", "banana","cantalope","durian"]

list_series = pd.Series(my_list)
print(list_series)

0        apple
1       banana
2    cantalope
3       durian
dtype: object

* Print the value at index 1 of `list_series` to the terminal

In [64]:
print(list_series[1])

banana

* Using the **SAME** variable `my_list`, create a **new** Pandas Series
    * Create specific labels for this series, corresponding to the **first letter** of each value
    * Example: "A" --> "apple", "B" --> "banana"
    * Save this series as the variable `index_series`
    * Then, print the value at index "C" of `index_series` to the terminal

In [65]:
# Add index labels for your series
index_series = pd.Series(my_list, index=['A','B','C','D'])
print(index_series["C"])

cantalope

### Series From Dictionary
* Using the following Dictionary, create a new Pandas Series, and save it as the variable `dictionary_series`
    * Then, print the value at index "Tuesday" to the terminal

In [66]:
# Create a series from a DICTIONARY
my_dictionary = {
    "Monday": "8 hours",
    "Tuesday": "4 hours",
    "Wednesday": "6 hours"
}

dictionary_series = pd.Series(my_dictionary)
print(dictionary_series["Tuesday"])

4 hours

## DataFrames
* Using the following Dictionary, create a new Pandas DataFrame, and save it as the variable `my_dataframe`
    * Print this new DataFrame to the terminal

In [67]:
# Create a DataFrame from a Dictionary
course_dictionary = {
    'course':["Pandas 101","Underwater Basket Weaving","Tree Climbing","Cryptozoology"],
    'credits':[5, 8, 6, 8]
}

my_dataframe = pd.DataFrame(course_dictionary)
print(my_dataframe)

                      course  credits
0                 Pandas 101        5
1  Underwater Basket Weaving        8
2              Tree Climbing        6
3              Cryptozoology        8

* Locate the row at index 2, and print it to the terminal

In [68]:
# Access a specific row using .loc with index number
print(my_dataframe.loc[2])

course     Tree Climbing
credits                6
Name: 2, dtype: object

* Locate the rows at index 0 and 3, and print both to the terminal

In [69]:
print(my_dataframe.loc[[0,3]])

          course  credits
0     Pandas 101        5
3  Cryptozoology        8

* Using the following Dictionary, create a new Pandas DataFrame
    * Use the `named_indexes` variable as the *named indexes* of the DataFrame
    * Save this DataFrame as the variable `named_dataframe`
    * Then, print the DataFrame to the terminal

In [70]:
# Create a DataFrame with named indexes
order_dictionary = {
    'color': ["red","blue","green","purple"],
    'quantity': [2,1,2,3],
    'total cost': [20,10,20,30]
}

named_indexes = ["order1","order2","order3", "order4"]

named_dataframe = pd.DataFrame(order_dictionary, index=named_indexes)

print(named_dataframe)

         color  quantity  total cost
order1     red         2          20
order2    blue         1          10
order3   green         2          20
order4  purple         3          30

* Locate the row at the index `order4`, and print it to the terminal

In [71]:
# Access a specific row using .loc with named index
print(named_dataframe.loc["order4"])

color         purple
quantity           3
total cost        30
Name: order4, dtype: object

## Analyzing DataFrames
##### Use your `named_dataframe` variable for the following questions
* Print the **first three rows** of the DataFrame to the terminal

In [72]:
named_dataframe.head(3)

        color  quantity  total cost
order1    red         2          20
order2   blue         1          10
order3  green         2          20

* Print the **last row** of the DataFrame to the terminal

In [73]:
named_dataframe.tail(2)

         color  quantity  total cost
order3   green         2          20
order4  purple         3          30

* Use the appropriate function to display the **data type** of each column in our DataFrame

In [74]:
named_dataframe.dtypes

color         object
quantity       int64
total cost     int64
dtype: object

### **BONUS:** DataFrames from .csv Files
* Use Pandas to import the file `pandas_in_action.csv` into a DataFrame
    * Name this variable `csv_dataframe`
    * Use the `id` column as the **index column** for your DataFrame
    * Then, print this DataFrame to the terminal

In [75]:
csv_dataframe = pd.read_csv("pandas_in_action.csv", index_col = "id")
print(csv_dataframe)

                 country      capital_city                         region  \
id
1                 Mexico       Mexico City                  North America
2              Australia          Canberra        Australia & New Zealand
3                Denmark        Copenhagen                 Western Europe
4   United Arab Emirates         Abu Dhabi  Middle East & Northern Africa
5                Finland          Helsinki                 Western Europe
6             Costa Rica          San Jose      Latin America & Caribbean
7          United States  Washington, D.C.                  North America
8                Iceland         Reykjavik                 Western Europe
9             Luxembourg   Luxembourg City                 Western Europe
10               Belgium          Brussels                 Western Europe
11                Israel         Jerusalem  Middle East & Northern Africa
12           New Zealand        Wellington        Australia & New Zealand
13               Austria            Vienna                 Western Europe
14                Canada            Ottawa                  North America
15                Sweden         Stockholm                 Western Europe
16                Brazil          Brasilia      Latin America & Caribbean
17           Switzerland              Bern                 Western Europe
18               Ireland            Dublin                 Western Europe
19           Netherlands         Amsterdam                 Western Europe
20                Norway              Oslo                 Western Europe

    population_in_millions  happiness_rank
id
1                   126.01              14
2                    26.02              10
3                     5.87               3
4                     9.28              20
5                     5.54               6
6                     5.09              12
7                   331.90              15
8                     0.37               2
9                     0.65              17
10                   11.49              19
11                    9.53              11
12                    5.13               9
13                    9.03              13
14                   38.52               5
15                   10.40               8
16                  214.05              16
17                    8.57               1
18                    6.57              18
19                   17.73               7
20                    5.42               4

* Use the appropriate function to display the **information** about the DataFrame

In [76]:
csv_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 1 to 20
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 20 non-null     object
 1   capital_city            20 non-null     object
 2   region                  20 non-null     object
 3   population_in_millions  20 non-null     float64
 4   happiness_rank          20 non-null     int64
dtypes: float64(1), int64(1), object(3)
memory usage: 960.0+ bytes

* Use the appropriate function to display the **first five rows** of the DataFrame

In [77]:
csv_dataframe.head()

,country,capital_city,region,population_in_millions,happiness_rank
id,,,,,
1,Mexico,Mexico City,North America,126.01,14
2,Australia,Canberra,Australia & New Zealand,26.02,10
3,Denmark,Copenhagen,Western Europe,5.87,3
4,United Arab Emirates,Abu Dhabi,Middle East & Northern Africa,9.28,20
5,Finland,Helsinki,Western Europe,5.54,6

* Currently, our DataFrame is sorted by the `id` column
    * Sort the DataFrame by the `happiness_rank` column, so we can easily see the top-rated countries for `happiness_rank`
    * Then, print the **top three rows** of the DataFrame to the terminal
    * **HINT: Chaining methods will be useful for this question!**

In [78]:
csv_dataframe.sort_values("happiness_rank").head(3)

,country,capital_city,region,population_in_millions,happiness_rank
id,,,,,
17,Switzerland,Bern,Western Europe,8.57,1
8,Iceland,Reykjavik,Western Europe,0.37,2
3,Denmark,Copenhagen,Western Europe,5.87,3

* Sort the DataFrame again by the `happiness_rank`, this time storing the result in a new variable `sorted_csv_dataframe`
    * Then, print the **top three rows** of the DataFrame to the terminal

In [79]:
sorted_csv_dataframe = csv_dataframe.sort_values("happiness_rank")
sorted_csv_dataframe.head(3)

,country,capital_city,region,population_in_millions,happiness_rank
id,,,,,
17,Switzerland,Bern,Western Europe,8.57,1
8,Iceland,Reykjavik,Western Europe,0.37,2
3,Denmark,Copenhagen,Western Europe,5.87,3

* **Using your new variable `sorted_csv_dataframe`**
    * Print the 5 countries with the **largest population** to the terminal

In [80]:
sorted_csv_dataframe.sort_values("population_in_millions", ascending=False).head()

,country,capital_city,region,population_in_millions,happiness_rank
id,,,,,
7,United States,"Washington, D.C.",North America,331.90,15
16,Brazil,Brasilia,Latin America & Caribbean,214.05,16
1,Mexico,Mexico City,North America,126.01,14
14,Canada,Ottawa,North America,38.52,5
2,Australia,Canberra,Australia & New Zealand,26.02,10

* Use the appropriate function to print the **number of unique values within each column** of your sorted DataFrame to the terminal

In [81]:
sorted_csv_dataframe.nunique()

country                   20
capital_city              20
region                     5
population_in_millions    20
happiness_rank            20
dtype: int64

* Select *just* the columns `"country"` and `"happiness_rank"`, and print them to the terminal

In [82]:
sorted_csv_dataframe[["country","happiness_rank"]]

                 country  happiness_rank
id
17           Switzerland               1
8                Iceland               2
3                Denmark               3
20                Norway               4
14                Canada               5
5                Finland               6
19           Netherlands               7
15                Sweden               8
12           New Zealand               9
2              Australia              10
11                Israel              11
6             Costa Rica              12
13               Austria              13
1                 Mexico              14
7          United States              15
16                Brazil              16
9             Luxembourg              17
18               Ireland              18
10               Belgium              19
4   United Arab Emirates              20

* Filter your DataFrame using the `"region"` column
    * Find all countries listed from the region `"Latin America & Caribbean"`
    * Print this filtered DataFrame to the terminal

In [83]:
sorted_csv_dataframe["region"] == "Latin America & Caribbean"
sorted_csv_dataframe[sorted_csv_dataframe["region"] == "Latin America & Caribbean"]

,country,capital_city,region,population_in_millions,happiness_rank
id,,,,,
6,Costa Rica,San Jose,Latin America & Caribbean,5.09,12
16,Brazil,Brasilia,Latin America & Caribbean,214.05,16

* Finally, export your sorted DataFrame as a *new* .csv file
    * Use the parameter `encoding='utf-8'` to specify the encoding type of the .csv file 
    * Name this file `cleaned_pandas_in_action.csv`

In [84]:
sorted_csv_dataframe.to_csv("cleaned_pandas_in_action.csv",encoding='utf-8')